
body {
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif; 
}


.yogaheading, .burnhead {
    text-align: left; 
    color: white;     
    font-size: 3vh;   
    text-shadow: 2px 2px 2px rgb(255, 255, 255); 
    margin-left: 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif;  
    text-decoration:solid;
}


.yogaheading h1, .burnhead h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;  
}




.videos {
    padding: 10px;
}


.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    overflow-x: auto;
    gap: 10px; 
}

.videos iframe {
    transition: transform 0.3s ease;
}


.videos iframe:hover {
    transform: scale(1.05);  
}


@media (max-width: 768px) {
    .yogaheading h1, .burnhead h1 {
        font-size: 1.5rem;  
        margin-left: 10px;  
    }
    
    .videos iframe {
        width: 100%;  
        height: auto;
    }
}


  
  
